// to override bootstrap, write scss above the bootstrap import
$theme-colors: (
    'peachCh': rgba(239, 179, 133, 0.5),
    'peaCh': rgba(204, 204, 102, 0.5),
    'blueCh': rgba(126, 171, 206, 0.7)
);

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

$font-body: 'Open Sans Condensed', sans-serif;
$font-header: 'Alegreya SC', serif;
$text-color: darkgrey;
$main-color: gainsboro;
$input-color: rgba(239, 179, 133, 0.5);
$post-color: rgba(204, 204, 102, 0.5);
$accent-color: rgba(126, 171, 206, 0.7);

body {
    font-family: $font-body;
    background-color: $main-color;
    color: $text-color;
}

.logoBar {
    border-style: solid;
    border-width: 40px;
    border-color:$main-color;
    border-right-width: 130px;
    border-left-width: 130px;
}

.hBorder {
    background-color: $main-color;
}

.header {
    font-family: $font-header;
    background-color: white;
    font-size: 5.2em;
}

p {
    background-color: white;
}

.chirpInput {
    height: 300px;
   
}


.fg-div {
    background-color: $input-color;
}

.input-border {
    border: none;
}

.btn {
    background-color: $accent-color;
}
